@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Poppins", sans-serif, system-ui, Avenir, Helvetica, Arial;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.hero {
  object-fit: cover;
  z-index: -1;
  width: 100vw;
}
input[type="date"],
input[type="number"] {
  -webkit-appearance: none !important;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

input::-webkit-date-and-time-value {
  text-align: left;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #74787c;
  background-color: transparent;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

input[type="number"]:before {
  content: attr(placeholder) !important;
  color: #74787c;
  background-color: transparent;
  margin-right: 0.5em;
}
input[type="number"]:focus:before,
input[type="number"]:valid:before {
  content: "";
}

section:nth-child(2n + 5):not(:first-child) {
  background-color: #f6f6f6;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  color: #74787c;
  /* line-height: 20px; */
  background: #fff;
  background-image: url("/assets/caret-down-light.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  /* margin: 0 5px 5px 0; */
}

tbody tr td:first-child {
  width: 170px;
  min-width: 170px;
  max-width: 170px;
  word-break: break-all;
}
td {
  text-transform: capitalize;
}
.c-jWYnUm {
  font-weight: 800;
}
.form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  line-height: 1.1;
  margin-bottom: 10px;
  /* align-items: center; */
}
.form-control + .form-control {
  margin: 5px 0;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  margin-top: 4px;
  font: inherit;
  color: green;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid green;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* input[type="checkbox"]:focus {
  outline: max(1px, 1px) solid currentColor;
  outline-offset: max(0px, 0.5px);
} */

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
/*  */
/* 
.pac-logo::after {
  background-image: none;
} */

.active {
  background-color: hsl(210deg, 14%, 23%);
  color: #fff;
}
